<div class="weather">
  {{#if isLoading }}
  <div class="loading">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
  {{ else }}
    <div class="weather__text-content">
      <h4>
        <span class="weather__temperature-text">
          {{ weatherData.currentRoundedTemperature }} <span class="weather__degree weather__degree--large"></span>
        </span>
        and {{ weatherData.currentSummary }}
      </h4>
      <p class="weather__text">{{ weatherData.hourlySummary }}</p>

    </div>

    <div class="weather__hourly-content">
      <div class="data-chart">
        {{#each hourlyDataDisplay as |hour|}}
          <div class="data-chart__item">

            <div class="data-chart__top-content">
              <span>{{hour.time}}</span>
            </div>

            <div class="data-chart__bottom-content">
              <span class="weather__temperature-text">{{hour.temperature}}<span class="weather__degree"></span></span>
              {{sky-icon classNames="weather__forcast--icon data-chart__weather-icon" icon=hour.icon color="white"}}
            </div>

          </div>
        {{/each}}
      </div>
    </div>
    <div class="weather__daily-content">
      <table class="weather-chart">
        {{#each dailyDataDisplay as |day|}}
          <tr>
            <td class="weather-chart__day-label">{{day.day}}</td>
            <td class="weather-chart__weather-icon">{{sky-icon icon=day.icon color="white"}}</td>
            <td class="weather-chart__temperature-data">
              <span class="weather__temperature-text">{{day.temperatureMax}}<span class="weather__degree"></span></span>
            </td>
            <td class="weather-chart__temperature-data--low">
              <span class="weather__temperature-text">{{day.temperatureMin}}<span class="weather__degree"></span></span>
            </td>
          </tr>
        {{/each}}
      </table>
    </div>

    {{#if false }}
      <div class="scrollable-display">
        {{#each hourlyDataDisplay as |hour|}}
          <div class="scrollable-display__item scrollable-display__item--weather">
            <p class="scrollable-display__item-title">{{hour.time}}</p>

            <div class="scrollable-display__item-content weather__forcast">
            </div>

          </div>
        {{/each}}
      </div>

      <div class="scrollable-display scrollable-display--wrapped">
        {{#each dailyDataDisplay as |day|}}
          <div class="scrollable-display__item scrollable-display__item--large-weather">
            <p class="scrollable-display__item-title scrollable-display__item-title--large">{{day.day}}</p>

            <div class="scrollable-display__item-content">
              <div class="weather__large-forcast-temp">
                <span class="weather__large-forcast-high-temp weather__temperature-text">{{day.temperatureMax}}<span class="weather__degree"></span></span>
                <span class="weather__large-forcast-low-temp weather__temperature-text">{{day.temperatureMin}}<span class="weather__degree"></span></span>
              </div>

              {{sky-icon icon=day.icon size=50}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}



  {{/if}}
</div>
